<?xml version="1.0" encoding="UTF-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪 
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- ** 連線參數設定 ** -->
    <add key="dbCon" value="server=localhost;database=PKWeb;uid=sa;pwd=piggy;" />
    <add key="dbCon_TestPKSYS" value="server=localhost;database=PKSYS;uid=sa;pwd=piggy;" />
    <!--<add key="dbCon_PKSYS" value="server=localhost;database=PKSYS;uid=sa;pwd=piggy;"/>-->
    <add key="dbCon_PKSYS" value="server=PKDB\PKSQL;database=PKSYS;uid=efsql;pwd=EfSql!2#;" />
    <add key="dbCon_Product" value="server=localhost;database=ProductCenter;uid=sa;pwd=piggy;" />
    <add key="dbCon_PKEF" value="server=localhost;database=PKEF;uid=sa;pwd=piggy;" />
    <add key="dbCon_Report" value="server=localhost;database=PKReport;uid=sa;pwd=piggy;" />
    <add key="dbCon_EDM" value="server=localhost;database=PKEDM;uid=sa;pwd=piggy;" />

    <!-- ** 基本參數設定 ** -->
    <add key="WebUrl" value="http://localhost/PKWeb/" />
    <add key="WebName" value="Pro'skit (Local)" />
    <add key="ValidCode_Pwd" value="B1^j0vl@#0h" />
    <add key="FB_AppID" value="938986172831317" />
    <add key="CDNUrl" value="https://cdn.prokits.com.tw/" />

    <!-- eurekapi 查詢Key -->
    <add key="IPApi_Key" value="SAK244B9LE6T8K3WEPYZ" />
 
    <!-- ** 檔案資料夾路徑 ** -->
    <add key="File_WebUrl" value="http://localhost:8081/" />
    <add key="File_Folder" value="PKWeb/" />

    <!-- DES Key,8碼英文 -->
    <add key="DesKey" value="PKvEf9Dn" />

    <!-- ** API參數設定 ** -->
    <!--http://localhost/API/-->
    <add key="API_WebUrl" value="http://api.prokits.com.tw/" />
    <!-- API固定的取用ID(無期限) -->
    <add key="API_TokenID" value="f507450f1d94dec7ac6a268654eca5f1" />
    <add key="API_PDFLoginID" value="PDF" />
    <add key="API_PDFLoginPwd" value="iLovePK-PDF" />
    <!-- ** 系統Email ** -->
    <add key="SysMail_Sender" value="pkmailman@mail.prokits.com.tw" />

    <!-- FTP參數設定 -->
    <add key="FTP_Username" value="ftpuser" />
    <add key="FTP_Password" value="test1234" />
    <add key="FTP_Url" value="ftp://localhost/" />
    <add key="FTP_DiskUrl" value="D:\_ftpTemp\" />

    <!-- 報表參數設定 -->
    <add key="ReportServerUrl" value="http://pkrpcenter.prokits.com.tw/report/" />
    <add key="ReportADUser" value="RPRead" />
    <add key="ReportADPwd" value="pkRP~!@#" />
    <add key="ReportViewerServerConnection" value="ReportConn.MyReportServerConn, App_Code" />

    <!-- 良興參數 -->
    <add key="EcLife_ApiKey" value="E36CE58C930C4ACF9D719B5D92B81E6F" />
    <add key="EcLife_Token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlrZXkiOiJFMzZDRTU4QzkzMEM0QUNGOUQ3MTlCNUQ5MkI4MUU2RiIsInNlc3Npb25pZCI6IndjdDM0bmVzcHBkYWFxMnJ6aXBxemxjNSIsImxvZ2luZGF0ZSI6IjIwMTcvMi8yMiDkuIvljYggMDQ6MzY6MTEifQ.zSxV2vYj2jH_gUtOVMqww-4LemJ2ccxusSDg6MVFnNc" />
    <!-- WebService -->
    <add key="ws_EDI.ws_EDI" value="http://api.prokits.com.tw/WebService/ws_EDI.asmx" />
    <add key="ws_GetPrice.ws_GetPrice" value="http://api.prokits.com.tw/WebService/ws_GetPrice.asmx" />
    <add key="ws_GetStock.ws_GetERPData" value="http://api.prokits.com.tw/WebService/ws_GetERPData.asmx" />
    <add key="EDITestMode" value="Y" />
  </appSettings>
  <system.web>
    <!-- ReportViewer -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <!--<trace enabled="true" pageOutput="true" requestLimit="100" traceMode="SortByTime" localOnly="true" />-->
    <!-- 自動判斷瀏覽器語系 -->
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true" />
    <sessionState mode="InProc" timeout="30" />
    <!-- 自訂錯誤 -->
    <!--<customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="~/error.aspx" />-->
    <!--
      debug="false", Optimization 才會發揮打包效果
    -->
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <!-- 新增自訂控制項 -->
        <add tagPrefix="asp" namespace="CustomController" />
      </controls>
    </pages>
    <!-- ASP.NET模擬功能(線上下單EXCEL功能使用) -->
    <!--<identity impersonate="true" password="1234qwer" userName="read" />-->
  </system.web>
  <!-- SmtpClient 宣告 Start -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="false" host="smtp.prokits.com.tw" port="25" userName="pkmailman" password="PK!@#mail" />
      </smtp>
    </mailSettings>
  </system.net>
  <!-- SmtpClient 宣告 End -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <!-- 強迫轉址至https -->
    <!--
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found"
                  url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>-->
    <!--瀏覽器快取 d.hh:mm:ss (7天)-->
    <staticContent>
      <!--<mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".woff2" mimeType="application/octet-stream" />-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    <!--<httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/error.aspx" responseMode="ExecuteURL" />
    </httpErrors>-->
    <handlers>
      <!-- ReportViewer -->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
</configuration>